@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-be-vietnam-pro: 'Be Vietnam Pro', sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  body {
    font-family: var(--font-be-vietnam-pro), sans-serif;
  }
}
